<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GasConsola" connectionString="User=SYSDBA;Password=masterkey;Database=C:\ImagenCo\dbi\JAG\gasconsola.fdb;DataSource=localhost; Port=3050;Dialect=1; Charset=NONE;Role=;Connection lifetime=15;Pooling=true; MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" />
    <add name="Ajusta" connectionString="User=SYSDBA;Password=masterkey;Database=C:\ImagenCo\dbi\JAG\Ajusta\Ajusta.fdb;DataSource=localhost; Port=3050;Dialect=1; Charset=NONE;Role=;Connection lifetime=15;Pooling=true; MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" />
    <add name="Master" connectionString="User=SYSDBA;Password=masterkey;Database=C:\ImagenCo\dbi\JAG\GASMASTER.fdb;DataSource=localhost; Port=3050;Dialect=1; Charset=NONE;Role=;Connection lifetime=15;Pooling=true; MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" />
    <add name="Adicional" connectionString="User=SYSDBA;Password=masterkey;Database=C:\ImagenCo\dbi\JAG\nadicional.fdb;DataSource=localhost; Port=3050;Dialect=3; Charset=NONE;Role=;Connection lifetime=15;Pooling=true; MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" />
  </connectionStrings>
  <appSettings>
    <add key="Estación" value="Aviación" />
    <add key="Id" value="1" />
    <!--Debe estar en horas-->
    <add key="HorasReaplica" value="0" />
    <add key="Porcentaje Merma" value="0.00863" />
    <add key="ipRemoto" value="192.168.1.67:9091" />
    <add key="Bitacora" value="Si" />
    <add key="Port" value="8020" />
    <!--Bennett-->
    <add key="CambiaConsola" value="Si" />
    <!--Gilbarco-->
    <add key="GilbarcoProtec20" value="Si" />
    <add key="GilbarcoOnOff" value="No" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="bhHost">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="1000" maxConcurrentSessions="100" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="epb1">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcp" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288">
          <readerQuotas maxArrayLength="2147483647" />
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="ServiciosCliente.ServiciosCliente" behaviorConfiguration="bhHost">
        <endpoint address="" binding="netTcpBinding" contract="ServiciosCliente.IServiciosCliente" bindingConfiguration="netTcp" behaviorConfiguration="epb1" />
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
        <host>
          <baseAddresses>
            <!--<add baseAddress="net.tcp://192.168.0.70:8057/ServiciosCliente"/>-->
            <add baseAddress="net.tcp://127.0.0.1:8057/ServiciosCliente" />
          </baseAddresses>
        </host>
      </service>
      <service name="Servicios.Adicional.ServiciosAdicional" behaviorConfiguration="bhHost">
        <endpoint address="" binding="netTcpBinding" contract="Servicios.Adicional.IServiciosAdicional" bindingConfiguration="netTcp" behaviorConfiguration="epb1" />
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
        <host>
          <baseAddresses>
            <!--<add baseAddress="net.tcp://192.168.0.70:8057/ServiciosAdicional"/>-->
            <add baseAddress="net.tcp://127.0.0.1:8057/ServiciosAdicional" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint name="ep1" address="net.tcp://127.0.0.1:8055/ServiciosAdicional" binding="netTcpBinding" contract="Servicios.Adicional.IServiciosAdicional" bindingConfiguration="netTcp" behaviorConfiguration="epb1" />
      <!--<endpoint name="ep1"
                address="net.tcp://192.168.1.67:8057/ServiciosAdicional"
                binding="netTcpBinding"
                contract="Servicios.Adicional.IServiciosAdicional"
                bindingConfiguration="netTcp"
                behaviorConfiguration="epb1"/>-->
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>