<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!--<meta name="viewport" content="width=1280, initial-scale=1"/>-->
    <meta name="viewport" content="width=1024, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/iGas.css" />
</head>
<body style="background-color: #fff; margin: 0 auto; padding: 0 20px; font-size: 10px !important">
    <h3>
        <strong>
            {comercial_name}<br />
            <span style="margin: 0; padding: 0; font-size: 11px;">{date}</span><br />
            <span style="margin: 0; padding: 0; font-size: 11px;">Reporte: {report_name}</span>
        </strong>
    </h3>
    <br />
    {content}
</body>
</html>
