<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true"
                 performanceCounters="All">

      <messageLogging logEntireMessage="true"
                      logMalformedMessages="true"
                      logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="true"
                      maxMessagesToLog="3000"/>
    </diagnostics>

    <bindings>

      <netTcpBinding>

        <binding name="ServiciosWebBinding"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:01:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="67108864"
                 maxBufferSize="67108864"
                 maxConnections="100"
                 maxReceivedMessageSize="67108864">

          <readerQuotas maxDepth="32"
                        maxStringContentLength="67108864"
                        maxArrayLength="67108864"
                        maxBytesPerRead="67108864"
                        maxNameTableCharCount="16384" />

          <reliableSession ordered="true"
                           inactivityTimeout="00:30:10"
                           enabled="true" />

          <security mode="None">

            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />

          </security>

        </binding>

        <binding name="NetBindingPerform"
                 maxConnections="100"
                 maxBufferPoolSize="67108864"
                 maxBufferSize="67108864"
                 maxReceivedMessageSize="67108864"
                 transferMode="Buffered"
                 receiveTimeout="00:00:05"
                 closeTimeout="00:00:05"
                 openTimeout="00:00:05"
                 sendTimeout="00:00:05"
                 portSharingEnabled="True">
          <reliableSession enabled="false" inactivityTimeout="20:00:10"/>
          <readerQuotas maxArrayLength="67108864"
                        maxBytesPerRead="67108864"
                        maxStringContentLength="67108864"/>
          <security mode="None">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>

      </netTcpBinding>

    </bindings>

    <client>
      <endpoint name="Monitor.ServiciosWeb"
                address="net.tcp://horacio-pc:8009/ServiciosWeb/Monitor"
                binding="netTcpBinding"
                bindingConfiguration="ServiciosWebBinding"
                contract="ImagenSoft.ServiciosWeb.Interfaces.Publicador.Monitor.IServiciosWeb" />

      <!--<endpoint name="Perform"
                address="net.tcp://horacio-pc:801/ServiciosWeb/Perform"
                binding="netTcpBinding"
                bindingConfiguration="NetBindingPerform"
                contract="ImagenSoft.ServiciosWeb.Interfaces.Publicador.IConnectionPerform" />-->
    </client>

  </system.serviceModel>

  <system.diagnostics>

    <sources>
      <source name="System.ServiceModel"
              switchValue="Verbose,Information,ActivityTracing"
              propagateActivity="true">

        <listeners>

          <add type="System.Diagnostics.DefaultTraceListener"
               name="Default">
            <filter type="" />
          </add>

          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>

        </listeners>
      </source>

      <source name="System.ServiceModel.MessageLogging"
              switchValue="Verbose,ActivityTracing">

        <listeners>

          <add type="System.Diagnostics.DefaultTraceListener"
               name="Default">
            <filter type="" />
          </add>

          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>

        </listeners>

      </source>
    </sources>

    <sharedListeners>

      <add initializeData="C:\temp\MonitorServiciosWeb_tracelog.svclog"
           type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           name="ServiceModelTraceListener"
           traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>

      <add initializeData="C:\temp\MonitorServiciosWeb_messages.svclog"
           type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           name="ServiceModelMessageLoggingListener"
           traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>

    </sharedListeners>

    <trace autoflush="false"
           indentsize="4">

      <listeners>

        <add initializeData="C:\temp\MonitorServiciosWebTrack.svclog"
             type="System.Diagnostics.TextWriterTraceListener"
             name="myListener"/>

        <add initializeData="C:\temp\MonitorServiciosWebTrackEx.svclog"
             type="System.Diagnostics.EventLogTraceListener"
             name="ExListener"
             traceOutputOptions="Callstack"/>

      </listeners>

    </trace>

  </system.diagnostics>

</configuration>