<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- Configura los dias que seran consultados en el Transmisor para considerarlos dentro del monitor -->
    <add key="DiasConsulta" value="9" />

    <!-- Indica la localización de las sentencias  -->
    <add key="Actualizador" value="C:\ImagenCo\Actualizaciones\SW" />
    <add key="ConsultasXML" value="C:\ImagenCo\DBI\Sentencias\ModuloWeb" />

    <!-- Configuracion de comunicacion local -->
    <add key="ModuloWeb" value="net.pipe://localhost" />
    <add key="ServiciosWeb" value="http://igasmembers.mx:710" />

    <!-- Configuracion de correo -->
    <add key="NotificarDistribuidores" value="No" />
    <add key="CfgMail" value="Host=mail.imagensoft.com.mx;Port=26;User=info@imagensoft.com.mx;Pass=imageninfo;SSL=No;" />
    <add key="CfgServerMail" value="Message-Id=true;Precedence=false"/>

    <add key="ServicioPing" value="1" />

    <!-- Configuracion Sockets -->
    <add key="maxTimeout" value="300000" />
    <add key="maxBuffSize" value="1048576" />
    <add key="Port" value="81"/>
    <add key="SocketBidireccionalPort" value="8080"/>

    <!-- Configurar tiempo de envio en segundos (!SOLO PRUEBAS¡) -->
    <!-- Si no existe se calculara el tiempo para el envio de correo todos los dias a las 0 horas -->
    <!--<add key="Pruebas" value="Si" />-->
    <!--<add key="CfgEnvios" value="15 />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>

  <connectionStrings>
    <!-- Pruebas Locales -->
    <add name="moduloweb" providerName="System.Data.SqlClient" connectionString="Data Source=aweb.dns2go.com;Initial Catalog=ModuloWebPruebas;User ID=UserMW;Password=masterkey;MultipleActiveResultSets=True" />
    <!--<add name="moduloweb" providerName="System.Data.SqlClient" connectionString="Data Source=np:\\.\pipe\MSSQL$SQLEXPRESS\sql\query;Initial Catalog=ModuloWeb;User ID=SYSDBA;Password=masterkey;" />-->
  </connectionStrings>

  <system.serviceModel>

    <diagnostics wmiProviderEnabled="true"
                 performanceCounters="All">

      <messageLogging logEntireMessage="true"
                      logMalformedMessages="true"
                      logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="true"
                      maxMessagesToLog="3000" />

    </diagnostics>

    <behaviors>

      <serviceBehaviors>

        <behavior name="bh1">

          <serviceMetadata />

          <serviceDebug includeExceptionDetailInFaults="true" />

          <serviceThrottling maxConcurrentCalls="64"
                             maxConcurrentSessions="400"
                             maxConcurrentInstances="464" />

          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

          <bufferedReceive maxPendingMessagesPerChannel="1024" />

          <sendMessageChannelCache allowUnsafeCaching="false">
            <factorySettings maxItemsInCache="16" />
            <channelSettings maxItemsInCache="32" />
          </sendMessageChannelCache>

        </behavior>

        <behavior name="wsBh1">

          <serviceMetadata />

          <serviceDebug includeExceptionDetailInFaults="true" />

          <serviceThrottling maxConcurrentCalls="64"
                             maxConcurrentSessions="400"
                             maxConcurrentInstances="464" />

          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

          <bufferedReceive maxPendingMessagesPerChannel="1024" />

          <sendMessageChannelCache allowUnsafeCaching="false">
            <factorySettings maxItemsInCache="16" />
            <channelSettings maxItemsInCache="32" />
          </sendMessageChannelCache>

        </behavior>

      </serviceBehaviors>

    </behaviors>

    <bindings>
      <netTcpBinding>

        <binding name="NetBinding"
                 maxConnections="7100"
                 listenBacklog="1000"
                 maxBufferPoolSize="67108864"
                 maxBufferSize="67108864"
                 maxReceivedMessageSize="67108864"
                 transferMode="Buffered"
                 receiveTimeout="01:00:00"
                 closeTimeout="00:05:00"
                 openTimeout="00:05:00"
                 sendTimeout="01:00:00"
                 portSharingEnabled="False">

          <reliableSession enabled="True"
                           inactivityTimeout="20:00:10" />

          <readerQuotas maxArrayLength="67108864"
                        maxBytesPerRead="67108864"
                        maxStringContentLength="67108864" />

          <security mode="None">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>

        </binding>

        <binding name="NetBindingStreaming"
                 maxConnections="7100"
                 listenBacklog="1000"
                 maxBufferPoolSize="2119999999"
                 maxBufferSize="2119999999"
                 maxReceivedMessageSize="2119999999"
                 transferMode="Streamed"
                 receiveTimeout="01:00:00"
                 closeTimeout="00:05:00"
                 openTimeout="00:05:00"
                 sendTimeout="01:00:00"
                 portSharingEnabled="False">

          <security mode="None">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>

        </binding>

        <binding name="NetBindingPerform"
                 maxConnections="7100"
                 listenBacklog="1000"
                 maxBufferPoolSize="67108864"
                 maxBufferSize="67108864"
                 maxReceivedMessageSize="67108864"
                 transferMode="Buffered"
                 receiveTimeout="00:00:10"
                 closeTimeout="00:00:10"
                 openTimeout="00:00:10"
                 sendTimeout="00:00:10"
                 portSharingEnabled="False">

          <reliableSession enabled="false"
                           inactivityTimeout="00:00:10" />

          <readerQuotas maxArrayLength="67108864"
                        maxBytesPerRead="67108864"
                        maxStringContentLength="67108864" />

          <security mode="None">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>

        </binding>

      </netTcpBinding>

      <netNamedPipeBinding>

        <binding name="NetPipeBinding"
                 maxConnections="7100"
                 maxBufferPoolSize="67108864"
                 maxBufferSize="67108864"
                 maxReceivedMessageSize="67108864"
                 transferMode="Buffered"
                 receiveTimeout="00:00:30"
                 sendTimeout="00:00:30"
                 closeTimeout="00:00:05"
                 openTimeout="00:00:05">

          <readerQuotas maxArrayLength="67108864"
                        maxBytesPerRead="67108864"
                        maxStringContentLength="67108864" />

          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>

        </binding>

        <binding name="NetPipeBindingPerform"
                 maxBufferPoolSize="67108864"
                 maxBufferSize="67108864"
                 maxConnections="7100"
                 maxReceivedMessageSize="67108864"
                 receiveTimeout="00:00:10"
                 sendTimeout="00:00:10"
                 closeTimeout="00:00:10"
                 openTimeout="00:00:10"
                 transferMode="Buffered">

          <readerQuotas maxArrayLength="67108864"
                        maxBytesPerRead="67108864"
                        maxStringContentLength="67108864" />

          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>

        </binding>

      </netNamedPipeBinding>

      <basicHttpBinding>

        <binding name="WbBinding"
                 allowCookies="False"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:05:00"
                 sendTimeout="00:05:00"
                 hostNameComparisonMode="Exact"
                 maxBufferPoolSize="67108864"
                 maxBufferSize="67108864"
                 maxReceivedMessageSize="67108864"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 transferMode="Buffered">

          <readerQuotas maxArrayLength="67108864"
                        maxBytesPerRead="67108864"
                        maxDepth="67108864"
                        maxNameTableCharCount="67108864"
                        maxStringContentLength="67108864" />

          <security mode="None">
            <transport clientCredentialType="Windows" />
          </security>

        </binding>

      </basicHttpBinding>

      <wsHttpBinding>

        <binding name="WsBinding"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 bypassProxyOnLocal="false"
                 transactionFlow="false"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="524288"
                 maxReceivedMessageSize="2147483647"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 useDefaultWebProxy="true"
                 allowCookies="false">

          <readerQuotas maxDepth="32"
                        maxStringContentLength="67108864"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="67108864"
                        maxNameTableCharCount="67108864" />

          <reliableSession ordered="true"
                           inactivityTimeout="00:01:00"
                           enabled="true" />

          <security mode="None">
            <message clientCredentialType="None"
                     establishSecurityContext="false"/>
            <transport clientCredentialType="None" />
          </security>

        </binding>

      </wsHttpBinding>

    </bindings>

    <services>
      <service behaviorConfiguration="bh1" name="ImagenSoft.ModuloWeb.Servicios.WCF.ServicioModuloWeb">
        <endpoint address="Monitor"
                  binding="wsHttpBinding"
                  bindingConfiguration="WsBinding"
                  name="HttpMonitor-221"
                  contract="ImagenSoft.ModuloWeb.Interfaces.Publicador.IModuloWeb" />
        <endpoint address="Monitor/mex"
                  binding="mexHttpBinding"
                  name="HttpMonitorMex-221"
                  contract="IMetadataExchange" />

        <endpoint address="net.tcp://0.0.0.0:8210/ModuloWeb/Monitor"
                  binding="netTcpBinding"
                  bindingConfiguration="NetBinding"
                  name="NetTcpMonitor-8210"
                  contract="ImagenSoft.ModuloWeb.Interfaces.Publicador.IModuloWeb" />
        <endpoint address="net.tcp://0.0.0.0:8211/ModuloWeb/Cliente"
                  binding="netTcpBinding"
                  bindingConfiguration="NetBinding"
                  name="NetTcpCliente-8211"
                  contract="ImagenSoft.ModuloWeb.Interfaces.Publicador.IModuloWeb" />
        <endpoint address="Monitor"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="NetPipeBinding"
                  name="NetPipeMonitor"
                  contract="ImagenSoft.ModuloWeb.Interfaces.Publicador.IModuloWeb" />
        <endpoint address="Cliente"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="NetPipeBinding"
                  name="NetPipeMonitor"
                  contract="ImagenSoft.ModuloWeb.Interfaces.Publicador.IModuloWeb" />
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:221/ModuloWeb/" />
            <add baseAddress="net.pipe://127.0.0.1/ModuloWeb/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="bh1"
               name="ImagenSoft.ModuloWeb.Servicios.WCF.ServiciosWebPerform">
        <endpoint address="Perform"
                  binding="wsHttpBinding"
                  bindingConfiguration="WsBinding"
                  name="HttpPerform-220"
                  contract="ImagenSoft.ModuloWeb.Interfaces.Publicador.IModuloWebPerform" />
        <endpoint address="Perform/mex"
                  binding="mexHttpBinding"
                  name="HttpPerformMex-220"
                  contract="IMetadataExchange" />
        <endpoint address="Perform"
                  binding="netTcpBinding"
                  bindingConfiguration="NetBinding"
                  name="NetTcpPerform-821"
                  contract="ImagenSoft.ModuloWeb.Interfaces.Publicador.IModuloWebPerform" />
        <endpoint address=""
                  binding="netNamedPipeBinding"
                  bindingConfiguration="NetPipeBinding"
                  name="NetPipePerform"
                  contract="ImagenSoft.ModuloWeb.Interfaces.Publicador.IModuloWebPerform" />
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:220/ModuloWeb/" />
            <add baseAddress="net.tcp://0.0.0.0:821/ModuloWeb/" />
            <add baseAddress="net.pipe://127.0.0.1/ModuloWeb/Perform" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="bh1"
               name="ImagenSoft.ModuloWeb.Servicios.WCF.ServiciosModuloWebAdicional">
        <endpoint address="VolWeb"
                  binding="wsHttpBinding"
                  bindingConfiguration="WsBinding"
                  name="HttpVolWeb-222"
                  contract="ImagenSoft.ModuloWeb.Interfaces.Publicador.IModuloWebAdicional" />
        <endpoint address="VolWeb/mex"
                  binding="mexHttpBinding"
                  name="HttpVolWebMex-222"
                  contract="IMetadataExchange" />
        <endpoint address="VolWeb"
                  binding="netTcpBinding"
                  bindingConfiguration="NetBinding"
                  name="NetTcpVolWeb-822"
                  contract="ImagenSoft.ModuloWeb.Interfaces.Publicador.IModuloWebAdicional" />
        <endpoint address=""
                  binding="netNamedPipeBinding"
                  bindingConfiguration="NetPipeBinding"
                  name="NetPipeVolWeb"
                  contract="ImagenSoft.ModuloWeb.Interfaces.Publicador.IModuloWebAdicional" />
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:222/ModuloWeb/" />
            <add baseAddress="net.tcp://0.0.0.0:822/ModuloWeb/" />
            <add baseAddress="net.pipe://127.0.0.1/ModuloWeb/VolWeb" />
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>

  <system.net>

    <connectionManagement>
      <add address="*"
           maxconnection="100"/>
    </connectionManagement>

  </system.net>

  <system.web>

    <membership defaultProvider="ClientAuthenticationMembershipProvider">

      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>

    </membership>

    <roleManager enabled="true"
                 defaultProvider="ClientRoleProvider">

      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri=""
             cacheTimeout="86400" />
      </providers>

    </roleManager>

  </system.web>

  <startup>

    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.1" />
  </startup>

</configuration>