<div class="container">
    <div class="row">
        <div style="background: #fff; margin: 0 auto; float: none;">
            <table class="table table-condensed" style="font-size: 12px; margin: 0 auto; display: table; width: 400px;" align="center">
                <thead style="border-top: 1px solid #000; border-bottom: 1px solid #000">
                    <tr>
                        <th>
                            Combustible
                        </th>
                        <th style="text-align: right">
                            Vol&uacute;men
                        </th>
                        <th style="text-align: right">
                            Importe
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {tblData}
                </tbody>
                <tfoot style="border-top: 1px solid #000;">
                    {tblFoot}
                </tfoot>
            </table>
        </div>
    </div>
</div>
